{% extends 'main/layout.html' %}

{% block title %}
    Bu bosh sahifa titlesi
{% endblock title %}


    {% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat delectus perferendis, ut quibusdam iste eius libero dolores ipsa, modi impedit excepturi praesentium accusantium minima harum laudantium maiores hic? Corrupti!
        </p>
        {% for i in value %}
            <p>{{ i }}</p>        
        {% endfor %}
        
        <button class="btn btn-warning"> Tugma </button>
    </div>


    {% endblock content %}

